[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sanketphonetictranslator"]
	path = sanketphonetictranslator
	url = https://github.com/cran/sanketphonetictranslator
